{{ "<!-- recent post -->" | safeHTML }}
<div class="widget">
  <h4 class="widget-title">{{ i18n "recent_post" }}</h4>
  {{ "<!-- post-item -->" | safeHTML }}
  {{ range first 3 ( where site.RegularPages "Section" "post" )}}
  <article class="widget-card">
    <div class="d-flex">
      {{ if .Params.images }}
        {{ range first 1 .Params.images }}
        {{ if fileExists (add `assets/` .) }}
          {{ $img:= resources.Get . }}
          {{ $imageXS:= $img.Fill "85x85 webp" }}
          <img loading="lazy" decoding="async" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$imageXS.RelPermalink}}" class="card-img-sm" loading="lazy" alt="post-thumb">
        {{ else }}
          <div class="image-fallback-sm"><span>{{.Title | truncate 1}}</span></div>
        {{ end }}
        {{ end }}
      {{ else }}
        <div class="image-fallback-sm"><span>{{.Title | truncate 1}}</span></div>
      {{ end }}
      <div class="ml-3">
        <h5><a class="post-title" href="{{.Permalink}}">{{ .Title }}</a></h5>
        <ul class="card-meta list-inline mb-0">
          <li class="list-inline-item mb-0">
            <i class="far fa-calendar-alt"></i>{{ .PublishDate.Format "02 Jan, 2006" }}
          </li>
        </ul>
      </div>
    </div>
  </article>
  {{ end }}
</div>