{{ "<!-- recent post -->" | safeHTML }}
<div class="widget">
  <h4 class="widget-title">{{ i18n "recent_post" }}</h4>
  {{ "<!-- post-item -->" | safeHTML }}
  {{ range first 3 ( where site.RegularPages "Section" "!=" "dontshow" )}}
  {{ $resources:= .Resources }}
  {{ $title := .Title }}
  <article class="widget-card">
    <div class="d-flex">
      {{ $thumbnail := partial "get-featured-image" . }}
      {{ if $thumbnail }}
        <a href="{{ .Permalink }}">
          {{ partial "responsive-image" (dict
              "image" $thumbnail
              "fillSizes" (slice "85x85")
              "altTitle" .Title
              "cssImgOverride" "card-img-sm"
            )
          }}
        </a>
      {{ else }}
        <div class="image-fallback-sm">
          <div class="image-fallback-sm"><span>{{.Title | truncate 1}}</span></div>
        </div>
      {{ end }}
      <div class="ml-3">
        <h5><a class="post-title" href="{{.Permalink}}">{{ .Title }}</a></h5>
        <ul class="card-meta list-inline mb-0">
          <li class="list-inline-item mb-0">
            <i class="far fa-calendar-alt"></i>{{ .PublishDate.Format "02 Jan, 2006" }}
          </li>
        </ul>
      </div>
    </div>
  </article>
  {{ end }}
</div>
