{{ define "main" }}

{{ if .Params.banner}}
<!-- banner -->
{{ if site.Params.background_shapes.banner_bg_image }}
{{ if fileExists (add `assets/` site.Params.background_shapes.banner_bg_image) }}
{{$img:= resources.Get (site.Params.background_shapes.banner_bg_image) }}
<div class="banner text-center {{if not site.Params.background_shapes.enable}}bg-light no-shapes{{end}}
" {{if .Params.background_shapes.enable}}style="background-image: url({{$img.RelPermalink}})"{{end}}>
{{ else }}
<div class="banner text-center">
{{ end }}
{{ else }}
<div class="banner text-center">
{{ end }}
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <h1 class="mb-5">{{site.Params.heading | markdownify}}</h1>
        <ul class="list-inline widget-list-inline">
          {{ $filter:= site.Params.main_taxonomy }}
          {{ if eq $filter "tag" }}
          {{ range $name, $items := site.Taxonomies.tags }}
          <li class="list-inline-item"><a
              href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
          {{ end }}
          {{ else if eq $filter "category"}}
          {{ range $name, $items := site.Taxonomies.categories }}
          <li class="list-inline-item"><a
              href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>

  {{if .Params.background_shapes.enable}}
  <!-- shape 1 -->
  <svg class="banner-shape-1 d-none d-md-block" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
      stroke-miterlimit="10" />
    <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
    <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
      stroke-miterlimit="10" />
  </svg>

  <!-- shape 2 -->
  <svg class="banner-shape-2 d-none d-md-block" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d)">
      <path class="path"
        d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
      <path
        d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
        stroke="#040306" stroke-miterlimit="10" />
    </g>
    <defs>
      <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
    </defs>
  </svg>

  <!-- shape 3 -->
  <svg class="banner-shape-3 d-none d-md-block" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
      stroke-miterlimit="10" />
    <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
    <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
      stroke-miterlimit="10" />
  </svg>

  <!-- shape border -->
  <svg class="banner-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
      stroke-width="2" />
  </svg>
  {{end}}
</div>
<!-- /banner -->
{{ end }}

<!-- featured -->
{{ if site.Params.featured_post }}
<section class="section pb-0 {{if not .Params.banner}}mt-5{{end}}">
  <div class="container">
    <div class="row">
      <!-- editors pick -->
      <div class="col-lg-4 col-md-6 mb-5">
        <h2 class="h5 section-title">{{ i18n "editors_pick" }}</h2>
        {{ range first 1 (where site.RegularPages "Type" "epic")}}
        <article class="card">
          {{ $resources:= .Resources }}
          <!-- post thumb -->
          {{ if .Params.images }}
          {{ $imgPath:= . }}
            <div class="post-slider slider-sm">
              <a href="{{ .Permalink }}">
              {{ range first 1 .Params.images }}
                {{ if (and (hasPrefix $imgPath `images/blog/`) (fileExists (add `assets/` $imgPath))) }}
                  {{ $img:= resources.Get $imgPath }}
                  {{ $imageLG:= $img.Fill "700x330 webp" }}
                  {{ $imageMD:= $img.Fill "510x240 webp" }}
                  {{ $imageSM:= $img.Fill "380x180 webp" }}
                  <picture>
                    <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
                    <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
                    <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 991px)">
                    <source srcset="{{$imageSM.RelPermalink}}">
                    <img loading="lazy" decoding="async" src="{{$imageSM.RelPermalink}}" class="card-img-top img-fluid"  alt="post-thumb" width="{{$img.Width}}" height="{{$img.Height}}">
                  </picture>
                {{ else }}
                  {{ with $resources.GetMatch $imgPath }}
                    {{ $img:= . }}
                    {{ $imageLG:= $img.Fill "700x330 webp" }}
                    {{ $imageMD:= $img.Fill "510x240 webp" }}
                    {{ $imageSM:= $img.Fill "380x180 webp" }}
                    <picture>
                      <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
                      <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
                      <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 991px)">
                      <source srcset="{{$imageSM.RelPermalink}}">
                      <img loading="lazy" decoding="async" src="{{$imageSM.RelPermalink}}" class="card-img-top img-fluid"  alt="post-thumb" width="{{$img.Width}}" height="{{$img.Height}}">
                    </picture>
                  {{ else }}
                      <div class="image-fallback"><span>{{ .Title | truncate 1}}</span></div>
                  {{ end }}
                {{ end }}
              {{ end }}</a>
            </div>
          {{ else }}
            <div class="image-fallback"><span>{{.Title | truncate 1}}</span></div>
          {{ end }}
          <!-- /post thumb -->
          <div class="card-body">
            <h3 class="h4 mb-3"><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <ul class="card-meta list-inline">
              <li class="list-inline-item">
                {{ if .Params.githubname }}
                <a href="https://github.com/{{ .Params.githubname }}/" class="card-meta-author">
                  <img loading="lazy" decoding="async" width="24" height="24" src="https://github.com/{{ .Params.githubname }}.png" alt="{{ .Params.githubname }}" class="img-fluid">
                  <span>{{ .Params.author }}</span>
                </a>
                {{ else }}
                <span>{{ .Params.author }}</span>
                {{ end }}
              </li>
              <li class="list-inline-item">
                <i class="far fa-clock"></i>{{ .Page.ReadingTime }} {{ i18n "minute_read" }}
              </li>
              <li class="list-inline-item">
                <i class="far fa-calendar-alt"></i>{{ .PublishDate.Format "02 Jan, 2006" }}
              </li>
              <li class="list-inline-item">
                <ul class="card-meta-tag list-inline">
                  {{ $filter:= site.Params.main_taxonomy }}
                  {{ if eq $filter "tag" }}
                  {{ $taxonomies := .Params.tags }}
                  {{ range $taxonomies }}
                  <li class="list-inline-item"><a href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
                  {{ end }}
                  {{ else if eq $filter "category" }}
                  {{ $taxonomies := .Params.categories }}
                  {{ range $taxonomies }}
                  <li class="list-inline-item"><a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
                  {{ end }}
                  {{ end }}
                </ul>
              </li>
            </ul>
            <p>{{ .Summary | truncate 80 }}</p>
            <a href="{{.Permalink}}" class="btn btn-outline-primary">{{i18n "read_more"}}</a>
          </div>
        </article>
        {{ end }}
      </div>
      <!-- trending post -->
      <div class="col-lg-4 col-md-6 mb-5">
        <h2 class="h5 section-title">{{ i18n "trending_post" }}</h2>
        {{ range first 3 (where site.RegularPages "Type" "trending")}}
        <article class="card mb-4">
          <div class="card-body d-flex">
            {{ $resources:= .Resources }}
            <!-- post thumb -->
            {{ if .Params.images }}
            <a href="{{ .Permalink }}">
              {{ range first 1 .Params.images }}
                        {{ $imgPath:= . }}
              {{ if fileExists (add `assets/` $imgPath) }}
                {{ $img:= resources.Get $imgPath }}
                {{ $imageXS:= $img.Fill "85x85 webp" }}
                <img loading="lazy" decoding="async" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$imageXS.RelPermalink}}" class="card-img-sm" loading="lazy" alt="post-thumb">
              {{{ else }}
              {{ with $resources.GetMatch $imgPath }}
              {{ $img:= . }}
                  {{ $imageXS:= $img.Fill "85x85 webp" }}
                  <img loading="lazy" decoding="async" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$imageXS.RelPermalink}}"
                    class="card-img-sm" loading="lazy" alt="post-thumb">
              {{ else }}
                  <div class="image-fallback-sm"><span>{{.Title | truncate 1}}</span></div>
              {{ end }}
              {{ end }}
              {{ end }}</a>
            {{ else }}
              <div class="image-fallback-sm"><span>{{.Title | truncate 1}}</span></div>
            {{ end }}
            <!-- /post thumb -->
            <div class="ml-3">
              <h4><a href="{{.Permalink}}" class="post-title">{{ .Title }}</a></h4>
              <ul class="card-meta list-inline mb-0">
                <li class="list-inline-item mb-0">
                  <i class="far fa-calendar-alt"></i>{{ .PublishDate.Format "02 Jan, 2006" }}
                </li>
                <li class="list-inline-item mb-0">
                  <i class="far fa-clock"></i>{{ .Page.ReadingTime }} {{ i18n "minute_read" }}
                </li>
              </ul>
            </div>
          </div>
        </article>
        {{ end }}
      </div>
      <!-- popular post -->
      <div class="col-lg-4 mb-5">
        <h2 class="h5 section-title">{{ i18n "popular_post" }}</h2>
        {{ range first 1 (where site.RegularPages "Type" "popular")}}
        <article class="card">

          {{ $resources:= .Resources }}
          <!-- post thumb -->
          {{ if .Params.images }}
          {{ $imgPath:= . }}
          <div class="post-slider slider-sm">
            <a href="{{ .Permalink }}">
            {{ range first 1 .Params.images }}
            {{ if (and (hasPrefix $imgPath `images/blog/`) (fileExists (add `assets/` $imgPath))) }}
            {{ $img:= resources.Get $imgPath }}
              {{ $imageLG:= $img.Fill "700x330 webp" }}
              {{ $imageMD:= $img.Fill "510x240 webp" }}
              {{ $imageSM:= $img.Fill "380x180 webp" }}
            <picture>
                <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
                <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
                <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 991px)">
              <source srcset="{{$imageSM.RelPermalink}}">
              <img loading="lazy" decoding="async" src="{{$imageSM.RelPermalink}}" class="card-img-top img-fluid" alt="post-thumb"
                width="{{$img.Width}}" height="{{$img.Height}}">
            </picture>
            {{ else }}
            {{ with $resources.GetMatch $imgPath }}
            {{ $img:= . }}
              {{ $imageLG:= $img.Fill "700x330 webp" }}
              {{ $imageMD:= $img.Fill "510x240 webp" }}
              {{ $imageSM:= $img.Fill "380x180 webp" }}
            <picture>
                <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
                <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
                <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 991px)">
              <source srcset="{{$imageSM.RelPermalink}}">
              <img loading="lazy" decoding="async" src="{{$imageSM.RelPermalink}}" class="card-img-top img-fluid" alt="post-thumb"
                width="{{$img.Width}}" height="{{$img.Height}}">
            </picture>
            {{ else }}
            <div class="image-fallback"><span>{{ .Title | truncate 1}}</span></div>
            {{ end }}
            {{ end }}
            {{ end }}</a>
          </div>
          {{ else }}
          <div class="image-fallback"><span>{{.Title | truncate 1}}</span></div>
          {{ end }}
          <!-- /post thumb -->

          <div class="card-body">
            <h3 class="h4 mb-3"><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <ul class="card-meta list-inline">
              <li class="list-inline-item">
                {{ if .Params.githubname }}
                <a href="https://github.com/{{ .Params.githubname }}/" class="card-meta-author">
                  <img loading="lazy" decoding="async" width="24" height="24" src="https://github.com/{{ .Params.githubname }}.png" alt="{{ .Params.githubname }}" class="img-fluid">
                  <span>{{ .Params.author }}</span>
                </a>
                {{ else }}
                <span>{{ .Params.author }}</span>
                {{ end }}
              </li>
              <li class="list-inline-item">
                <i class="far fa-clock"></i>{{ .Page.ReadingTime }} {{ i18n "minute_read" }}
              </li>
              <li class="list-inline-item">
                <i class="far fa-calendar-alt"></i>{{ .PublishDate.Format "02 Jan, 2006" }}
              </li>
              <li class="list-inline-item">
                <ul class="card-meta-tag list-inline">
                  {{ $filter:= site.Params.main_taxonomy }}
                  {{ if eq $filter "tag" }}
                  {{ $taxonomies := .Params.tags }}
                  {{ range $taxonomies }}
                  <li class="list-inline-item"><a
                      href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
                  {{ end }}
                  {{ else if eq $filter "category" }}
                  {{ $taxonomies := .Params.categories }}
                  {{ range $taxonomies }}
                  <li class="list-inline-item"><a
                      href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
                  {{ end }}
                  {{ end }}
                </ul>
              </li>
            </ul>
            <p>{{ .Summary | truncate 80 }}</p>
            <a href="{{.Permalink}}" class="btn btn-outline-primary">{{i18n "read_more"}}</a>
          </div>
        </article>
        {{ end }}
      </div>
      <div class="col-12">
        <div class="border-bottom border-default"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /featured -->

<!-- main post -->
<section class="section-sm">
  {{ $sidebar:= .Params.sidebar }}
  {{ $hasbar:= or (eq $sidebar `left`) (eq $sidebar `right`)}}
  {{ $layout:= .Params.post_layout}}
  {{ $widget:= site.Params.widgets.sidebar }}

  <div class="container">
    <div class="row">
      <!-- left sidebar -->
      {{ if eq $sidebar "left" }}
      <aside class="col-lg-4 sidebar-home order-2 order-lg-1">
        {{- partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) -}}
      </aside>
      {{ end }}
      <!-- /left sidebar -->

      <div
        class="{{if $hasbar}}col-lg-8{{ else }}{{if eq $layout `grid`}} col-12 {{else}} col-lg-8 mx-auto {{end}}{{end}} {{if eq $sidebar `left`}}order-1 order-lg-2{{end}} mb-5 mb-lg-0">

        <!-- wrapper title -->
        <h2 class="h5 section-title">{{ i18n "recent_post" }}</h2>
        <!-- /wrapper title -->

        {{ if eq $layout "list" }}
        {{ range (where site.RegularPages "Section" "!=" "dontshow") }}
        <!-- list article -->
        <article class="card mb-4">
          <div class="row card-body">
            {{ $resources:= .Resources }}
            <!-- post thumb -->
            <div class="col-md-4 mb-4 mb-md-0">
              {{ if .Params.images }}
              <div class="post-slider slider-sm">
                <a href="{{ .Permalink }}">
                {{ range .Params.images }}
                {{ $imgPath:= . }}
                {{ if fileExists (add `assets/` $imgPath) }}
                  {{ $img:= resources.Get $imgPath }}
                  {{ $imageSM:= $img.Fill "460x200 webp" }}
                  {{ $imageXS:= $img.Fill "200x200 webp" }}
                  <picture>
                    <source srcset="{{ $imageSM.Permalink }}" media="(max-width: 767px)">
                    <source srcset="{{ $imageXS.Permalink }}" media="(min-width: 768px)">
                    <source srcset="{{$img.RelPermalink}}">
                    <img loading="lazy" decoding="async" src="{{$imageSM.RelPermalink}}" class="card-img-top img-fluid"  alt="post-thumb" width="{{$img.Width}}" height="{{$img.Height}}">
                  </picture>
                {{ else }}
                      {{ with $resources.GetMatch $imgPath }}
                      {{ $img:= . }}
                  {{ $imageSM:= $img.Fill "460x200 webp" }}
                  {{ $imageXS:= $img.Fill "200x200 webp" }}
                      <picture>
                    <source srcset="{{ $imageSM.Permalink }}" media="(max-width: 767px)">
                    <source srcset="{{ $imageXS.Permalink }}" media="(min-width: 768px)">
                    <source srcset="{{$img.RelPermalink}}">
                        <img loading="lazy" decoding="async" src="{{$imageSM.RelPermalink}}" class="card-img-top img-fluid" alt="post-thumb"
                          width="{{$img.Width}}" height="{{$img.Height}}">
                      </picture>
                      {{ else }}
                  <div class="image-fallback"><span>{{.Title | truncate 1}}</span></div>
                {{ end }}
                {{ end }}
                {{ end }}</a>
              </div>
              {{ else }}
                <div class="image-fallback"><span>{{.Title | truncate 1}}</span></div>
              {{ end }}
            </div>
            <!-- /post thumb -->
            <div class="col-md-8">
              <h3 class="h4 mb-3"><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>
              <ul class="card-meta list-inline">
                <li class="list-inline-item">
                  {{ if .Params.githubname }}
                  <a href="https://github.com/{{ .Params.githubname }}/" class="card-meta-author">
                    <img loading="lazy" decoding="async" width="24" height="24" src="https://github.com/{{ .Params.githubname }}.png" alt="{{ .Params.githubname }}" class="img-fluid">
                    <span>{{ .Params.author }}</span>
                  </a>
                  {{ else }}
                  <span>{{ .Params.author }}</span>
                  {{ end }}
                </li>
                <li class="list-inline-item">
                  <i class="far fa-clock"></i>{{ .Page.ReadingTime }} {{ i18n "minute_read" }}
                </li>
                <li class="list-inline-item">
                  <i class="far fa-calendar-alt"></i>{{ .PublishDate.Format "02 Jan, 2006" }}
                </li>
                <li class="list-inline-item">
                  <ul class="card-meta-tag list-inline">
                    {{ range .Params.Tags }}
                    <li class="list-inline-item"><a
                        href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
                    {{ end }}
                  </ul>
                </li>
              </ul>
              <p>
                {{ if .Params.Images }}
                {{ .Summary | truncate 100 }}
                {{ else }}
                {{ .Summary | truncate 250 }}
                {{ end }}
              </p>
              <a href="{{.Permalink}}" class="btn btn-outline-primary">{{i18n "read_more"}}</a>
            </div>
          </div>
        </article>
        <!-- /list article -->
        {{ end }}

        {{ else if eq $layout "grid"}}
        <!-- grid article -->
        <div class="row">
          {{ range (where site.RegularPages "Section" "!=" "dontshow") }}
          <div class="{{if $hasbar}}col-sm-6{{else}}col-lg-4 col-sm-6{{end}} mb-4">
            <article class="card h-100">
              {{ $resources:= .Resources }}
              <!-- post thumb -->
              {{ if .Params.images }}
              <div class="post-slider slider-sm">
                <a href="{{ .Permalink }}">
                {{ range .Params.images }}
                {{ $imgPath:= . }}
                {{ if fileExists (add `assets/` $imgPath) }}
                  {{ $img:= resources.Get $imgPath }}
                  {{ $imageLG:= $img.Fill "700x330 webp" }}
                  {{ $imageMD:= $img.Fill "510x240 webp" }}
                  {{ $imageSM:= $img.Fill "380x180 webp" }}
                  <picture>
                    <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
                    <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
                    <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 991px)">
                    <source srcset="{{$imageSM.RelPermalink}}">
                    <img loading="lazy" decoding="async" src="{{$imageSM.RelPermalink}}" class="card-img-top img-fluid"  alt="post-thumb" width="{{$img.Width}}" height="{{$img.Height}}">
                  </picture>
                {{ else }}
                {{ with $resources.GetMatch $imgPath }}
                  {{ $img:= . }}
                  {{ $imageLG:= $img.Fill "700x330 webp" }}
                  {{ $imageMD:= $img.Fill "510x240 webp" }}
                  {{ $imageSM:= $img.Fill "380x180 webp" }}
                  <picture>
                    <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
                    <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
                    <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 991px)">
                    <source srcset="{{$imageSM.RelPermalink}}">
                    <img loading="lazy" decoding="async" src="{{$imageSM.RelPermalink}}" class="card-img-top img-fluid" alt="post-thumb"
                      width="{{$img.Width}}" height="{{$img.Height}}">
                  </picture>
                </picture>
                {{ else }}
                  <div class="image-fallback h-auto"><span>{{.Title | truncate 1}}</span></div>
                {{ end }}
                {{ end }}
                {{ end }}</a>
              </div>
              {{ else }}
                <div class="image-fallback h-auto"><span>{{.Title | truncate 1}}</span></div>
              {{ end }}
              <!-- /post thumb -->
              <div class="card-body">
                <h3 class="h4 mb-3"><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <ul class="card-meta list-inline">
                  <li class="list-inline-item">
                    {{ if .Params.githubname }}
                    <a href="https://github.com/{{ .Params.githubname }}/" class="card-meta-author">
                      <img loading="lazy" decoding="async" width="24" height="24" src="https://github.com/{{ .Params.githubname }}.png" alt="{{ .Params.githubname }}" class="img-fluid">
                      <span>{{ .Params.author }}</span>
                    </a>
                    {{ else }}
                    <span>{{ .Params.author }}</span>
                    {{ end }}
                  </li>
                  <li class="list-inline-item">
                    <i class="far fa-clock"></i>{{ .Page.ReadingTime }} {{ i18n "minute_read" }}
                  </li>
                  <li class="list-inline-item">
                    <i class="far fa-calendar-alt"></i>{{ .PublishDate.Format "02 Jan, 2006" }}
                  </li>
                  <li class="list-inline-item">
                    <ul class="card-meta-tag list-inline">
                      {{ range .Params.Tags }}
                      <li class="list-inline-item"><a
                          href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
                      {{ end }}
                    </ul>
                  </li>
                </ul>
                <p>{{ .Summary | truncate 80 }}</p>
                <a href="{{.Permalink}}" class="btn btn-outline-primary">{{i18n "read_more"}}</a>
              </div>
            </article>
          </div>
          {{ end }}
        </div>
        <!-- grid article -->
        {{ else }}

        {{ range (where site.RegularPages "Section" "!=" "foo") }}
        <!-- full article -->
        <article class="card mb-4">
          {{ $resources:= .Resources }}
          <!-- post thumb -->
          {{ if .Params.images }}
          <div class="post-slider slider-sm">
            <a href="{{ .Permalink }}">
            {{ range .Params.images }}
            {{ $imgPath:= . }}
            {{ if fileExists (add `assets/` $imgPath) }}
              {{ $img:= resources.Get $imgPath }}
              {{ $imageMD:= $img.Fill "700x330 webp" }}
              {{ $imageSM:= $img.Fill "380x180 webp" }}
              <picture>
                <source srcset="{{ $imageSM.Permalink }}" media="(max-width: 575px)">
                <source srcset="{{ $imageMD.Permalink }}" media="(max-width: 991px)">
                <img loading="lazy" decoding="async" src="{{$imageMD.RelPermalink}}" class="card-img-top img-fluid"  alt="post-thumb" width="{{$img.Width}}" height="{{$img.Height}}">
              </picture>
            {{ else }}
            {{ with $resources.GetMatch $imgPath }}
            {{ $img:= . }}
            {{ $imageMD:= $img.Fill "700x330 webp" }}
            {{ $imageSM:= $img.Fill "380x180 webp" }}
            <picture>
              <source srcset="{{ $imageSM.Permalink }}" media="(max-width: 575px)">
              <source srcset="{{ $imageMD.Permalink }}" media="(max-width: 991px)">
              <img loading="lazy" decoding="async" src="{{$imageMD.RelPermalink}}" class="card-img-top img-fluid" alt="post-thumb"
                width="{{$img.Width}}" height="{{$img.Height}}">
            </picture>
            {{ end }}
            {{ end }}
            {{ end }}</a>
          </div>
          {{ end }}
          <!-- /post thumb -->
          <div class="card-body">
            <h3 class="mb-3"><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <ul class="card-meta list-inline">
              <li class="list-inline-item">
                {{ if .Params.githubname }}
                <a href="https://github.com/{{ .Params.githubname }}/" class="card-meta-author">
                  <img loading="lazy" decoding="async" width="24" height="24" src="https://github.com/{{ .Params.githubname }}.png" alt="{{ .Params.githubname }}" class="img-fluid">
                  <span>{{ .Params.author }}</span>
                </a>
                {{ else }}
                <span>{{ .Params.author }}</span>
                {{ end }}
              </li>
              <li class="list-inline-item">
                <i class="far fa-clock"></i>{{ .Page.ReadingTime }} {{ i18n "minute_read" }}
              </li>
              <li class="list-inline-item">
                <i class="far fa-calendar-alt"></i>{{ .PublishDate.Format "02 Jan, 2006" }}
              </li>
              <li class="list-inline-item">
                <ul class="card-meta-tag list-inline">
                  {{ range .Params.Tags }}
                  <li class="list-inline-item"><a
                      href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
                  {{ end }}
                </ul>
              </li>
            </ul>
            <p>{{ .Summary }}</p>
            <a href="{{.Permalink}}" class="btn btn-outline-primary">{{i18n "read_more"}}</a>
          </div>
        </article>
        <!-- /full article -->
        {{ end }}
        {{ end }}

      </div>

      <!-- right sidebar -->
      {{ if eq $sidebar "right" }}
      <aside class="col-lg-4 sidebar-home">
        {{- partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) -}}
      </aside>
      {{ end }}
      <!-- /right sidebar -->
    </div>
  </div>
</section>
<!-- /main post -->

{{ end }}
