{{ define "main" }}

{{ partial "page-header" . }}

<section class="section-sm">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
        <div class="image-wrapper">
          {{ if .Params.image }}
          {{ if fileExists (add `assets/` .Params.image) }}
          {{$img:= resources.Get (.Params.image) }}
          <img loading="lazy" decoding="async" class="w-100" src="{{$img.RelPermalink}}">
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="content pl-lg-3 pl-0">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>


{{ if .Params.mission.enable }}
{{ with .Params.mission }}

{{ if site.Params.background_shapes.wave_bg_image }}
{{ if fileExists (add `assets/` site.Params.background_shapes.wave_bg_image) }}
{{$img:= resources.Get (site.Params.background_shapes.wave_bg_image) }}
<section class="section wave {{if not site.Params.background_shapes.enable}}bg-light{{end}}
" {{if site.Params.background_shapes.enable}}style="background-image: url({{$img.RelPermalink}})"{{end}}>
{{ else }}
<section class="section wave">
{{ end }}
{{ else }}
<section class="section wave">
{{ end }}
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-12 mb-5 text-center">
        <h2>{{.title | markdownify}}</h2>
      </div>
      {{ range .mission_item }}
      <div class="col-lg-4 col-md-6 text-center">
        <h4 class="mission-name mb-4">{{.name}}</h4>
        <p class="mx-lg-3">{{.content | markdownify}}</p>
      </div>
      {{ end }}
    </div>
  </div>

  {{if site.Params.background_shapes.enable}}
  <!-- shape 1 -->
  <svg class="wave-shape-1" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
      stroke-miterlimit="10" />
    <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
    <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
      stroke-miterlimit="10" />
  </svg>

  <!-- shape 2 -->
  <svg class="wave-shape-2" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d)">
      <path class="path"
        d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
      <path
        d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
        stroke="#040306" stroke-miterlimit="10" />
    </g>
    <defs>
      <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
    </defs>
  </svg>

  <!-- shape 3 -->
  <svg class="wave-shape-3" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
      stroke-miterlimit="10" />
    <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
    <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
      stroke-miterlimit="10" />
  </svg>

  <!-- shape 4 -->
  <svg class="wave-shape-4" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d)">
      <path class="path"
        d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
      <path
        d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
        stroke="#040306" stroke-miterlimit="10" />
    </g>
    <defs>
      <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
    </defs>
  </svg>
  {{ end }}
</section>
{{ end }}
{{ end }}


{{ if .Params.authors.enable }}
{{ with .Params.authors }}
<section class="section-sm">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6 order-2 order-md-1">
        <div class="pr-lg-3 pr-0">
          <h2 class="mb-4">{{.title}}</h2>
          <p>{{.content}}</p>
          <a href="{{`/authors` | absLangURL }}" class="btn btn-primary">{{ i18n "our_authors" }}</a>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0 order-1 order-md-2">
        <div class="image-wrapper">
          {{ if .image }}
          {{ if fileExists (add `assets/` .image) }}
          {{$img:= resources.Get (.image) }}
          <img loading="lazy" decoding="async" class="w-100" src="{{$img.RelPermalink}}">
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if .Params.youtube.enable }}
{{ with .Params.youtube }}
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
        <div class="video-wrapper">
          {{ if .image }}
          {{ if fileExists (add `assets/` .image) }}
          {{$img:= resources.Get (.image) }}
          <img loading="lazy" decoding="async" class="img-fluid" src="{{$img.RelPermalink}}" width="{{$img.Width}}" height="{{$img.Height}}">
          {{ end }}
          {{ end }}
          <a class="play-btn video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/{{.video_id}}" data-target="#myModal" href="#"><i class="fas fa-play"></i></a>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 text-center text-md-left">
        <h2 class="mb-4">{{.title}}</h2>
        <a href="{{.channel | safeURL}}" class="btn btn-primary">{{i18n "visit_channel"}}</a>
      </div>
    </div>
  </div>
</section>

<!-- popup video -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content border-0 bg-transparent">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /popup video -->
{{ end }}
{{ end }}


{{ if .Params.call_to_action.enable }}
{{ with .Params.call_to_action }}
<section class="section-sm author">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto text-center">
        <h2 class="mb-4">{{.title | markdownify}}</h2>
        <p class="mb-4">{{.content| markdownify}}</p>
        <a href="{{.button_link | absLangURL}}" class="btn btn-primary">{{.button_label}}</a>
      </div>
    </div>
  </div>

  {{if site.Params.background_shapes.enable}}
  <!-- shape 1 -->
  <svg class="author-shape-1" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
      stroke-miterlimit="10" />
    <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
    <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
      stroke-miterlimit="10" />
  </svg>

  <!-- shape 2 -->
  <svg class="author-shape-2" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d)">
      <path class="path"
        d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
      <path
        d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
        stroke="#040306" stroke-miterlimit="10" />
    </g>
    <defs>
      <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
    </defs>
  </svg>

  <!-- shape 3 -->
  <svg class="author-shape-3" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
      stroke-miterlimit="10" />
    <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
    <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
      stroke-miterlimit="10" />
  </svg>
  {{ end }}
</section>
{{ end }}
{{ end }}


{{ end }}