{{ if findRE `^https?://` .Destination   }}
        <img src="{{ .Destination | safeURL }}" {{ with .Text }} alt="{{ . }}" {{ end }} {{ with .Title }}
            title="{{ . }}" {{ end }} style="width:auto;">
{{ else }}
    {{ $image := .Page.Resources.GetMatch .Destination }}
    {{ if $image }}
        {{ $image_ext := path.Ext $image.RelPermalink }}
        {{ $image_width := $image.Width }}
        {{ if  (ne $image_ext ".gif") }}
            {{ $smallImage := $image.Resize "800x webp" }}
            {{ $mediumImage := $image.Resize "1200x webp" }}
            {{ $largeImage := $image.Resize "1500x webp" }}

            {{ if .Title }}
            <figure>
                <picture>
                    <source media="(min-width:800px)" srcset={{ $mediumImage.RelPermalink | safeURL }}>
                    <source media="(min-width:1200px)" srcset={{ $largeImage.RelPermalink | safeURL }}>
                    <source media="(min-width:1500px)" srcset={{ .Destination | safeURL }}>
                    <img src="{{ $smallImage.RelPermalink | safeURL }}" {{ with .Text }} alt="{{ . }}" {{ end }} {{ with .Title }}
                        title="{{ . }}" {{ end }} style="width:auto;">
                </picture>

                {{ with .Title}} <figcaption>{{ . | markdownify }}</figcaption> {{ end }}
            </figure>
            {{ else }}
            <picture>
                <source media="(min-width:800px)" srcset={{ $mediumImage.RelPermalink | safeURL }}>
                <source media="(min-width:1200px)" srcset={{ $largeImage.RelPermalink | safeURL }}>
                <source media="(min-width:1500px)" srcset={{ .Destination | safeURL }}>
                <img src="{{ $smallImage.RelPermalink | safeURL }}" {{ with .Text }} alt="{{ . }}" {{ end }} style="width:auto;">
            </picture>
            {{ end }}
        {{ else }}
            <img src="{{ $image.RelPermalink }}" {{ with .Text }} alt="{{ . }}" {{ end }} {{ with .Title }}
                title="{{ . }}" {{ end }} style="width:auto;">
        {{ end }}
    {{ else }}
        <img src="{{ .Destination | safeURL }}" {{ with .Text }} alt="{{ . }}" {{ end }} {{ with .Title }}
            title="{{ . }}" {{ end }} style="width:auto;">
    {{ end }}
{{ end}}
