{{ if findRE `^https?://` .Destination   }}
  <img src="{{ .Destination | safeURL }}" style="width:auto;"{{ with .Text }} title="{{ . }}" alt="{{ . }}"{{ end }}>
{{ else }}
  {{ $image := .Page.Resources.GetMatch .Destination }}
  {{ if $image }}
    {{/*  if GIF, assume animated => don't resize*/}}
    {{ if eq (path.Ext $image.RelPermalink) ".gif" }}
      <img src="{{ $image.RelPermalink }}" style="width:auto;" {{ with .Text }} title="{{ . }}" alt="{{ . }}"{{ end }}>
    {{/*  else, resize to responsive breakpoints  */}}
    {{ else }}
      <figure>
        {{ partial "responsive-image" (dict
              "image" $image
              "imageSizes" (slice "325" "700")
              "sourceSizes" "(max-width: 325px) 325px, 700px"
              "altTitle" .Text
            )
        }}
        {{ with .Title }}<figcaption>{{ . | markdownify }}</figcaption> {{ end }}
      </figure>
    {{ end }}
  {{ else }}
    <img src="{{ .Destination | safeURL }}" style="width:auto;" {{ with .Text }} title="{{ . }}" alt="{{ . }}"{{ end }}>
  {{ end }}
{{ end}}
