a.navbar-brand {
  color: #fff;
  padding-top: 0;
}

.card {
  border-radius: 2px;
  border-color: rgb(50, 49, 48);
}

.mb-4,
.my-4 {
  margin-bottom: 28px !important;
}

article {
  background-color: #fff;
  box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132),0 .3px .9px 0 rgba(0,0,0,.108);
  border-radius: 2px;
  padding: 28px;
}
