{{define "main"}}

{{ partial "page-header.html" . }}

<section class="section-sm">
  <div class="container">
    <div class="row no-gutters">
      {{ range where site.RegularPages "Section" "author" }}
      <div class="col-lg-4 col-sm-6 author-block">
        <div class="author-card text-center">
          {{ if .Params.githubname }}
          <a href="https://github.com/{{ .Params.githubname }}/" class="card-meta-author">
            <img loading="lazy" decoding="async" width="24" height="24" src="https://github.com/{{ .Params.githubname }}.png" alt="{{ .Params.githubname }}" class="img-fluid">
            <span>{{ .Params.author }}</span>
          </a>
          {{ else }}
          <span>{{ .Params.author }}</span>
          {{ end }}
          

          <h3 class="mb-2"><a href="{{ .Permalink }}" class="post-title">{{.Title}}</a></h3>
          <p class="mb-3">{{.Params.Description | markdownify}}</p>
          {{ $posts := where site.RegularPages "Params.author" .Title }}
          {{ $post_item := len $posts}}
          {{if eq $post_item 0 }}
          <div class="mb-3">
            <i class="ti-pencil-alt mr-2"></i><span class="text-primary">{{ len $posts }}</span> {{i18n "posts_by"}}
          </div>
          {{else}}
          <a class="post-count" href="{{.Permalink}}#post"><i class="ti-pencil-alt mr-2"></i><span class="text-primary">{{ len $posts }}</span> {{i18n "posts_by"}}</a>
          {{end}}
          <ul class="list-inline social-icons">
            {{ range .Params.social }}
            <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{.icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
