{{ define "main" }}

<div class="author {{if not site.Params.background_shapes.enable}}bg-light no-shapes{{end}}">
	<div class="container">
		<div class="row no-gutters justify-content-center">
			<div class="col-lg-3 col-md-4 mb-4 mb-md-0">
				{{ if .Params.image }}
				{{ $imagePath:= .Params.image }}
				{{ if (fileExists (add "assets/" $imagePath)) }}
				{{ $image:= resources.Get $imagePath }}
				{{ $img:= $image.Fill "320x320 webp" }}
				<img loading="lazy" decoding="async" class="author-image mb-4" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$img.RelPermalink}}" alt="{{ .Title }}">
				{{ end }}
				{{else if .Params.Email}}
				<img loading="lazy" decoding="async" class="author-image mb-4" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=320&pg&d=identicon">
				{{ end }}
			</div>
			<div class="col-md-8 col-lg-6 text-center text-md-left">
				<h3 class="mb-2">{{.Title}}</h2>
					<strong class="mb-2 d-block">{{.Params.Description | markdownify}}</strong>
					<div class="content">
						{{ .Content }}
					</div>
					{{ $posts := where site.RegularPages "Params.author" .Title }}
					<a class="post-count mb-1" href="{{.Permalink}}#post"><i class="ti-pencil-alt mr-2"></i><span
							class="text-primary">{{ len $posts }}</span> {{i18n "posts_by"}}</a>
					<ul class="list-inline social-icons">
						{{ range .Params.social }}
						<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{.icon }}"></i></a></li>
						{{ end }}
					</ul>
			</div>
		</div>
	</div>

	{{ if site.Params.background_shapes.enable }}
	<!-- shape 1 -->
	<svg class="author-shape-1" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
			stroke-miterlimit="10" />
		<path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
		<path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
			stroke-miterlimit="10" />
	</svg>

	<!-- shape 2 -->
	<svg class="author-shape-2" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_d)">
			<path class="path"
				d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
			<path
				d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
				stroke="#040306" stroke-miterlimit="10" />
		</g>
		<defs>
			<filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
				<feOffset dy="4" />
				<feGaussianBlur stdDeviation="2" />
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
			</filter>
		</defs>
	</svg>

	<!-- shape 3 -->
	<svg class="author-shape-3" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
			stroke-miterlimit="10" />
		<path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
		<path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
			stroke-miterlimit="10" />
	</svg>

	<!-- shape border -->
	<svg class="author-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path
			d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
			stroke-width="2" />
	</svg>
	{{ end }}
</div>

<section class="section-sm" id="post">
	<div class="container">
		<div class="row">
			{{ range where site.RegularPages "Params.author" .Title }}
			<div class="col-lg-8 mx-auto">
				<article class="card mb-4">
					<!-- post thumb -->
					{{ if .Params.images }}
					<div class="post-slider slider-sm">
						{{ range .Params.images }}
						{{ if fileExists (add `assets/` .) }}
							{{ $img:= resources.Get . }}
							{{ $imageMD:= $img.Fill "700x330 webp" }}
							{{ $imageSM:= $img.Fill "380x180 webp" }}
							<picture>
								<source srcset="{{ $imageSM.Permalink }}" media="(max-width: 575px)">
								<source srcset="{{ $imageMD.Permalink }}" media="(max-width: 991px)">
								<img loading="lazy" decoding="async" src="{{$imageMD.RelPermalink}}" class="card-img-top img-fluid"  alt="post-thumb" width="{{$img.Width}}" height="{{$img.Height}}">
							</picture>
						{{ end }}
						{{ end }}
					</div>
					{{ end }}
					<!-- /post thumb -->
					<div class="card-body">
						<h3 class="mb-3"><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>
						<ul class="card-meta list-inline">
							<li class="list-inline-item">
                {{ if .Params.githubname }}
                <a href="https://github.com/{{ .Params.githubname }}/" class="card-meta-author">
                  <img loading="lazy" decoding="async" width="24" height="24" src="https://github.com/{{ .Params.githubname }}.png" alt="{{ .Params.githubname }}" class="img-fluid">
                  <span>{{ .Params.author }}</span>
                </a>
                {{ else }}
                <span>{{ .Params.author }}</span>
                {{ end }}
							<li class="list-inline-item">
								<i class="far fa-clock"></i>{{ .Page.ReadingTime }} {{ i18n "minute_read" }}
							</li>
							<li class="list-inline-item">
								<i class="far fa-calendar-alt"></i>{{ .PublishDate.Format "02 Jan, 2006" }}
							</li>
							<li class="list-inline-item">
								<ul class="card-meta-tag list-inline">
									{{ $filter:= site.Params.main_taxonomy }}
									{{ if eq $filter "tag" }}
									{{ $taxonomies := .Params.tags }}
									{{ range $taxonomies }}
									<li class="list-inline-item"><a
											href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
									{{ end }}
									{{ else if eq $filter "category" }}
									{{ $taxonomies := .Params.categories }}
									{{ range $taxonomies }}
									<li class="list-inline-item"><a
											href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | humanize }}</a></li>
									{{ end }}
									{{ end }}
								</ul>
							</li>
						</ul>
						<p>{{ .Summary }}</p>
						<a href="{{.Permalink}}" class="btn btn-outline-primary">{{i18n "read_more"}}</a>
					</div>
				</article>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{ end }}
