/*  typography */
body {
  line-height: 1.7;
  font-family:  "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif; //$primary-font;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-size: 16px;
}

p {
  font-weight: 400;
  color: var(--theme-text-subtle);
  font-size: 16px;
  line-height: calc(1ex / 0.32);
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  text-rendering: optimzizelegibility;
  margin: calc(1ex / 0.32) 0;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  color: var(--theme-text);
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h1, .h1{
  font-size: 32px;
}

h1.h2 {
  font-size: 42px;
}

h2, .h2{
  font-size: 28px;
}

h3, .h3{
  font-size: 24px;
}

h4, .h4{
  font-size: 18px;
}

h5, .h5{
  font-size: 15px;
}

h6, .h6{
  font-size: 13px;
}
