:root {
  --theme-text: #171717;
  --theme-text-subtle: #505050;
  --theme-text-invert: #fff;
  --theme-text-glow-high-contrast: #171717;
  --theme-box-shadow-light: rgba(0, 0, 0, 0.11);
  --theme-box-shadow-medium: rgba(0, 0, 0, 0.13);
  --theme-box-shadow-heavy: rgba(0, 0, 0, 0.18);
  --theme-box-shadow-extra-heavy: rgba(0, 0, 0, 0.22);
  --theme-overlay: rgba(0, 0, 0, 0.7);
  --theme-overlay-invert: #fff;
  --theme-body-background: #fff;
  --theme-body-background-medium: #f2f2f2;
  --theme-alternate-background: #171717;
  --theme-alternate-background-medium: #2f2f2f;
  --theme-border: #e6e6e6;
  --theme-table-header: #e6e6e6;
  --theme-table-row: #f2f2f2;
  --theme-table-row-header: #fafafa;
  --theme-table-border-dark: #d2d2d2;
  --theme-hover-base: #2f2f2f;
  --theme-hover-invert: #fafafa;
  --theme-border-white-high-contrast: rgba(255, 255, 255, 0);
  --theme-border-yellow-high-contrast: rgba(0, 0, 0, 0);
  --theme-code-header: #e6e6e6;
  --theme-code-block: #f2f2f2;
  --theme-control-border: #757575;
  --theme-inline-code: #e6e6e6;
  --theme-code-highlight-background: #fff4ce;
  --theme-visited: #624991;
  --theme-score-low-off: rgba(168, 0, 0, 0.3);
  --theme-score-low: #b62626;
  --theme-score-medium-off: rgba(255, 187, 0, 0.3);
  --theme-score-medium: #ffb900;
  --theme-score-high-off: rgba(72, 157, 72, 0.3);
  --theme-score-high: #2a8b2a;
  --theme-hyperlink: #0065b3;
  --theme-primary-base: #0078d4;
  --theme-primary-background: #d7eaf8;
  --theme-primary-background-glow-high-contrast: #d7eaf8;
  --theme-primary-dark: #004173;
  --theme-primary-hover: #0065b3;
  --theme-primary-active: #00579a;
  --theme-primary-box-shadow: rgba(0, 101, 179, 0.3);
  --theme-primary-invert: #fff;
  --theme-secondary-base: #a2a2a2;
  --theme-secondary-background: #e6e6e6;
  --theme-secondary-background-glow-high-contrast: #e6e6e6;
  --theme-secondary-dark: #2f2f2f;
  --theme-secondary-hover: #d2d2d2;
  --theme-secondary-active: #d2d2d2;
  --theme-secondary-box-shadow: rgba(0, 0, 0, 0.3);
  --theme-secondary-invert: #000;
  --theme-tertiary-base: #243a5e;
  --theme-tertiary-background: #061329;
  --theme-tertiary-background-glow-high-contrast: #061329;
  --theme-tertiary-dark: #a4b2c9;
  --theme-tertiary-hover: #14294c;
  --theme-tertiary-active: #70819f;
  --theme-tertiary-box-shadow: rgba(38, 23, 63, 0.3);
  --theme-tertiary-invert: #fff;
  --theme-success-base: #107c10;
  --theme-success-background: #dff6dd;
  --theme-success-background-glow-high-contrast: #dff6dd;
  --theme-success-dark: #054b16;
  --theme-success-hover: #0b6413;
  --theme-success-active: #054b16;
  --theme-success-box-shadow: rgba(72, 157, 72, 0.3);
  --theme-success-invert: #fff;
  --theme-info-base: #8661c5;
  --theme-info-background: #efd9fd;
  --theme-info-background-glow-high-contrast: #efd9fd;
  --theme-info-dark: #3b2e58;
  --theme-info-hover: #8661c5;
  --theme-info-active: #624991;
  --theme-info-box-shadow: rgba(32, 24, 67, 0.3);
  --theme-info-invert: #fff;
  --theme-warning-base: #ffb900;
  --theme-warning-background: #fff4ce;
  --theme-warning-background-glow-high-contrast: #fff4ce;
  --theme-warning-dark: #6a4b16;
  --theme-warning-hover: #d19501;
  --theme-warning-active: #966802;
  --theme-warning-box-shadow: rgba(255, 187, 0, 0.3);
  --theme-warning-invert: #000;
  --theme-danger-base: #a80000;
  --theme-danger-background: #fde7e9;
  --theme-danger-background-glow-high-contrast: #fde7e9;
  --theme-danger-dark: #470001;
  --theme-danger-hover: #870000;
  --theme-danger-active: #630001;
  --theme-danger-box-shadow: rgba(168, 0, 0, 0.3);
  --theme-danger-invert: #fff;
  --theme-facepile-red: #a80000;
  --theme-facepile-teal: #328e9f;
  --theme-facepile-blue: #0078d4;
      /* optional base colors for colored boxes as in attachments and notice shortcode */
    --BOX-BLUE-color: rgba( 48, 117, 229, 1 );
    --BOX-GREEN-color: rgba( 42, 178, 24, 1 );
    --BOX-GREY-color: rgba( 128, 128, 128, 1 );
    --BOX-ORANGE-color: rgba( 237, 153, 9, 1 );
    --BOX-RED-color: rgba( 224, 62, 62, 1 );
    /* base styling for boxes */
    --BOX-CAPTION-color: rgba( 240, 240, 240, 1 ); /* color of the title text */
    --BOX-BG-color: rgba( 20, 20, 20, 1 ); /* color of the content background */
    --BOX-TEXT-color: initial; /* automatic color of the content text */

    --BOX-BLUE-TEXT-color: var(--BOX-BLUE-color);
    --BOX-GREEN-TEXT-color: var(--BOX-GREEN-color);
    --BOX-GREY-TEXT-color: var(--BOX-GREY-color);
    --BOX-ORANGE-TEXT-color: var(--BOX-ORANGE-color);
    --BOX-RED-TEXT-color: var(--BOX-RED-color);
}

@media (prefers-color-scheme: dark) {
    /* we'll add support for darkmode here */
}

a.navbar-brand {
  color: #fff;
  padding-top: 0;
  text-decoration: none;
}

.card {
  border-radius: 2px;
  border-color: rgb(50, 49, 48);
}

.mb-4,
.my-4 {
  margin-bottom: 28px !important;
}

article {
  background-color: #fff;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
  border-radius: 2px;
  padding: 28px;
}

.alert {
  word-wrap: break-word;
  background-color: var(--theme-body-background-medium);
  border: 1px solid var(--theme-border-white-high-contrast);
  border-radius: 6px;
  color: var(--theme-text);
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
  outline-color: var(--theme-text);
  padding: 1rem;
  position: relative;
  transition: height 0.5s ease-in, opacity 0.5s ease-in;
  word-break: break-word;

  p.alert-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  & p.alert-title .docon::before {
    // position: absolute;
    // top: 2px;
    color: var(--theme-text);
    font-family: $icon-font;
    font-weight: 900;
    left: 10px;
    padding-right: 8px;
  }

  & p.alert-title .docon {
    color: var(--theme-text);
    font-weight: 600;
  }
}

.alert.note {
  background-color: var(--theme-info-background);
  border: 1px solid var(--theme-info-background-glow-high-contrast);

  & p.alert-title .docon::before {
    font-weight: 600;
    content: "\f05a";
  }
}

.alert.tip {
  background-color: var(--theme-success-background);
  border: 1px solid var(--theme-success-background-glow-high-contrast);

  & p.alert-title .docon::before {
    font-weight: 400;
    content: "\f0eb";
  }
}

.alert.important {
  background-color: var(--theme-primary-background);
  border: 1px solid var(--theme-primary-background-glow-high-contrast);

  & p.alert-title .docon::before {
    content: "\f05a";
  }
}

.alert.caution {
  background-color: var(--theme-danger-background);
  border: 1px solid var(--theme-danger-background-glow-high-contrast);

  & p.alert-title .docon::before {
    font-weight: 400;
    content: "\f057";
  }
}

.alert.warning {
  background-color: var(--theme-warning-background);
  border: 1px solid var(--theme-warning-background-glow-high-contrast);

  & p.alert-title .docon::before {
    font-weight: 600;
    content: "\f071";
  }
}

.content p {
  word-wrap: break-word;
  margin-bottom: 0;
  margin-top: 1rem;
}

.content .checklist > ul > li {
  list-style-type: none;
  position: relative;
}

.content ol > li,
.content ul > li {
  list-style: disc none outside;
}

.content .checklist > ul > li:before {
  color: var(--theme-success-base);
  content: "\f00c";
  display: inline-block;
  font-family: $icon-font;
  height: 1em;
  left: -1.5em;
  position: absolute;
  width: 1em;
  font-weight: 900;
}

// p {
//     line-height: calc(1ex / 0.32);
//     // width: 60ch;
//     // max-width: 100%;
//     // text-align: justify;
//     // hyphenate-character: auto;
//     // font-size: 1em;
//     margin: calc(1ex / 0.32) 0;
//     text-rendering: optimizelegibility
// }

:not(a):not(pre) > code {
  word-wrap: break-word;
  background-color: var(--theme-inline-code);
  border-radius: 3px;
  font-size: 85%;
  padding: 0.1em 0.2em;
  color: var(--theme-text);
}

code {
  direction: ltr;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  line-height: 1.3;
  margin-bottom: 12px;
  margin-top: 10px;
}

h2.heading-anchor,
h3.heading-anchor,
h4.heading-anchor,
h5.heading-anchor,
h6.heading-anchor {
  line-height: 1.3;
  margin-left: -0.9375rem;
  padding-left: 0.9375rem;
  position: relative;
}

h2.heading-anchor,
h3.heading-anchor,
h4.heading-anchor,
h5.heading-anchor,
h6.heading-anchor {
  margin-left: -1.875rem;
  padding-left: 1.875rem;
}
.content h2 {
  margin-top: 32px;
  color: var(--theme-text);
  display: block;
  font-weight: 600;
  margin-bottom: 12px !important;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.mermaid svg[id^="mermaid-"] {
  .messageText {
    fill: var(--theme-text);
    stroke: none !important;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
      -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  }

  text.actor > tspan {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
      -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  }
}

// .mermaid .actor {
//     stroke: hsl(259.6261682243,59.7765363128%,87.9019607843%);
//     fill: var(--theme-primary-base)!important;
// }


/* attachments shortcode */

/* colored boxes */

div.box {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-NEUTRAL-color);
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-BOX-NEUTRAL-TEXT-color);
    --VARIABLE-BOX-CAPTION-color: var(--INTERNAL-BOX-CAPTION-color);
    background-color: #808080; /* var(--INTERNAL-BOX-NEUTRAL-color) */
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    margin: 1.5rem 0;
}

div.box > .box-label {
    color: rgba( 255, 255, 255, 1 ); /* var(--BOX-CAPTION-color) */
    font-weight: 500;
    padding: .2rem .6rem;
}

div.box > .box-content {
    background-color: rgba( 255, 255, 255, .833 ); /* var(--BOX-BG-color) */
    color: rgba( 16, 16, 16, 1 ); /* var(--BOX-TEXT-color) */
    padding-bottom: .1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

div.box > .box-content > :first-child {
    margin-top: 0;
    padding-top: 1rem;
}

div.box > .box-content > :last-child {
    margin-bottom: 1rem;
}

div.box.info {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-INFO-color);
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-BOX-INFO-TEXT-color);
    background-color: rgba( 48, 117, 229, 1 ); /* var(--INTERNAL-BOX-INFO-color) */
}

div.box.info > .box-content {
    color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-INFO-TEXT-color) */
}

div.box.warning {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-WARNING-color);
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-BOX-WARNING-TEXT-color);
    background-color: rgba( 224, 62, 62, 1 ); /* var(--INTERNAL-BOX-WARNING-color) */
}

div.box.warning > .box-content {
    color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-WARNING-TEXT-color) */
}

div.box.note {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-NOTE-color);
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-BOX-NOTE-TEXT-color);
    background-color: rgba( 237, 153, 9, 1 ); /* var(--INTERNAL-BOX-NOTE-color) */
}

div.box.note > .box-content {
    color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-NOTE-TEXT-color) */
}

div.box.tip {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-TIP-color);
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-BOX-TIP-TEXT-color);
    background-color: rgba( 42, 178, 24, 1 ); /* var(--INTERNAL-BOX-TIP-color) */
}

div.box.tip > .box-content {
    color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-TIP-TEXT-color) */
}

div.box.blue {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-BLUE-color);
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-BOX-BLUE-TEXT-color);
    background-color: rgba( 48, 117, 229, 1 ); /* var(--INTERNAL-BOX-BLUE-color) */
}

div.box.blue > .box-content {
    color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-BLUE-TEXT-color) */
}

div.box.green {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-GREEN-color);
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-BOX-GREEN-TEXT-color);
    background-color: rgba( 42, 178, 24, 1 ); /* var(--INTERNAL-BOX-GREEN-color) */
}

div.box.green > .box-content {
    color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-GREEN-TEXT-color) */
}

div.box.grey {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-GREY-color);
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-BOX-GREY-TEXT-color);
    background-color: #808080; /* var(--INTERNAL-BOX-GREY-color) */
}

div.box.grey > .box-content {
    color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-GREY-TEXT-color) */
}

div.box.orange {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-ORANGE-color);
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-BOX-WARNING-ORANGE-color);
    background-color: rgba( 237, 153, 9, 1 ); /* var(--INTERNAL-BOX-ORANGE-color) */
}

div.box.orange > .box-content {
    color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-ORANGE-TEXT-color) */
}

div.box.red {
    --VARIABLE-BOX-color: var(--INTERNAL-BOX-RED-color);
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-BOX-RED-TEXT-color);
    background-color: rgba( 224, 62, 62, 1 ); /* var(--INTERNAL-BOX-RED-color) */
}

div.box.red > .box-content {
    color: rgba( 16, 16, 16, 1 ); /* var(--INTERNAL-BOX-RED-TEXT-color) */
}

div.box.transparent {
    --VARIABLE-BOX-color: transparent;
    --VARIABLE-BOX-TEXT-color: var(--INTERNAL-MAIN-TEXT-color);
    --VARIABLE-BOX-CAPTION-color: var(--INTERNAL-MAIN-TITLES-TEXT-color);
    background-color: transparent;
}

div.box.transparent > .box-label {
    color: #4a4a4a; /* var(--MAIN-TITLES-TEXT-color) */
}

div.box.transparent > .box-content {
    background-color: transparent;
    color: #101010; /* var(--MAIN-TEXT-color) */
}

div.attachments .box-content {
    display: block;
    margin: 0;
    padding-left: 1.75rem;
}

h2.heading-anchor, h3.heading-anchor, h4.heading-anchor, h5.heading-anchor, h6.heading-anchor {
    text-decoration: none;

    line-height: 1.3;
    margin-left: -.9375rem;
    padding-left: .9375rem;
    position: relative;
    &:hover {
        .anchor-link
      {
transition: opacity .1s linear;
    top: 1.38125rem;

        &::before
        {
          font-family: $icon-font;
            content: "\f0c1";
            display: block;
            height: 1px;
            position: absolute;
            top: 0.5rem;
            left: -0.5rem;
            width: 100%;
            color: var(--theme-text);
            font-size:16px;
        }
      }
    }
}

.chroma {
	background-color: #ffffff;
	.x {
	}
	.err {
		color: #a61717;
		background-color: #e3d2d2;
	}
	.lntd {
		vertical-align: top;
		padding: 0;
		margin: 0;
		border: 0;
	}
	.lntable {
		border-spacing: 0;
		padding: 0;
		margin: 0;
		border: 0;
		width: auto;
		overflow: auto;
		display: block;
	}
	.hl {
		display: block;
		width: 100%;
		background-color: #ffffcc;
	}
	.lnt {
		margin-right: 0.4em;
		padding: 0 0.4em 0 0.4em;
		color: #7f7f7f;
	}
	.ln {
		margin-right: 0.4em;
		padding: 0 0.4em 0 0.4em;
		color: #7f7f7f;
	}
	.k {
		color: #000000;
		font-weight: bold;
	}
	.kc {
		color: #000000;
		font-weight: bold;
	}
	.kd {
		color: #000000;
		font-weight: bold;
	}
	.kn {
		color: #000000;
		font-weight: bold;
	}
	.kp {
		color: #000000;
		font-weight: bold;
	}
	.kr {
		color: #000000;
		font-weight: bold;
	}
	.kt {
		color: #445588;
		font-weight: bold;
	}
	.n {
	}
	.na {
		color: #008080;
	}
	.nb {
		color: #0086b3;
	}
	.bp {
		color: #999999;
	}
	.nc {
		color: #445588;
		font-weight: bold;
	}
	.no {
		color: #008080;
	}
	.nd {
		color: #3c5d5d;
		font-weight: bold;
	}
	.ni {
		color: #800080;
	}
	.ne {
		color: #990000;
		font-weight: bold;
	}
	.nf {
		color: #990000;
		font-weight: bold;
	}
	.fm {
	}
	.nl {
		color: #990000;
		font-weight: bold;
	}
	.nn {
		color: #555555;
	}
	.nx {
	}
	.py {
	}
	.nt {
		color: #000080;
	}
	.nv {
		color: #008080;
	}
	.vc {
		color: #008080;
	}
	.vg {
		color: #008080;
	}
	.vi {
		color: #008080;
	}
	.vm {
	}
	.l {
	}
	.ld {
	}
	.s {
		color: #dd1144;
	}
	.sa {
		color: #dd1144;
	}
	.sb {
		color: #dd1144;
	}
	.sc {
		color: #dd1144;
	}
	.dl {
		color: #dd1144;
	}
	.sd {
		color: #dd1144;
	}
	.s2 {
		color: #dd1144;
	}
	.se {
		color: #dd1144;
	}
	.sh {
		color: #dd1144;
	}
	.si {
		color: #dd1144;
	}
	.sx {
		color: #dd1144;
	}
	.sr {
		color: #009926;
	}
	.s1 {
		color: #dd1144;
	}
	.ss {
		color: #990073;
	}
	.m {
		color: #009999;
	}
	.mb {
		color: #009999;
	}
	.mf {
		color: #009999;
	}
	.mh {
		color: #009999;
	}
	.mi {
		color: #009999;
	}
	.il {
		color: #009999;
	}
	.mo {
		color: #009999;
	}
	.o {
		color: #000000;
		font-weight: bold;
	}
	.ow {
		color: #000000;
		font-weight: bold;
	}
	.p {
	}
	.c {
		color: #999988;
		font-style: italic;
	}
	.ch {
		color: #999988;
		font-style: italic;
	}
	.cm {
		color: #999988;
		font-style: italic;
	}
	.c1 {
		color: #999988;
		font-style: italic;
	}
	.cs {
		color: #999999;
		font-weight: bold;
		font-style: italic;
	}
	.cp {
		color: #999999;
		font-weight: bold;
		font-style: italic;
	}
	.cpf {
		color: #999999;
		font-weight: bold;
		font-style: italic;
	}
	.g {
	}
	.gd {
		color: #000000;
		background-color: #ffdddd;
	}
	.ge {
		color: #000000;
		font-style: italic;
	}
	.gr {
		color: #aa0000;
	}
	.gh {
		color: #999999;
	}
	.gi {
		color: #000000;
		background-color: #ddffdd;
	}
	.go {
		color: #888888;
	}
	.gp {
		color: #555555;
	}
	.gs {
		font-weight: bold;
	}
	.gu {
		color: #aaaaaa;
	}
	.gt {
		color: #aa0000;
	}
	.gl {
		text-decoration: underline;
	}
	.w {
		color: #bbbbbb;
	}
}
